@page "/"

@using Models.Dto;
@using Echo_Net.Services;

@inject IAudioPostService _audioPostService
@inject IJSRuntime mJS

@implements IDisposable;

<PageTitle>Index</PageTitle>


<section>
    <audio controls src=@audioRecorderManager.audioBloblURL></audio>
    <hr />
    <button @onclick="StartAudioRecord" class="btn btn-primary" 
        disabled=@audioRecorderManager.mDisableRecordAudioStart>
        Start Record
    </button>
    <button @onclick="PauseAudioRecord" class="btn btn-primary" 
        disabled=@audioRecorderManager.mDisableRecordAudioPause>
        Pause
    </button>
    <button @onclick="ResumeAudioRecord" class="btn btn-primary" 
        disabled=@audioRecorderManager.mDisableRecordAudioResume>
        Resume
    </button>
    <button @onclick="StopAudioRecord" class="btn btn-primary" 
        disabled=@audioRecorderManager.mDisableRecordAudioStop>
        Stop
    </button>
    <button @onclick="SaveAudioRecord" class="btn btn-primary" 
        disabled=@audioRecorderManager.mDisableRecordAudioSave>
        Post
    </button>
</section>

@if(AudioPosts is null || AudioPosts.Count == 0 )
{
    <p>Loading...</p>
}
else
{
    foreach(var item in AudioPosts)
    {
        <div>
            <p>AudioId: @item.AudioId</p>
            <p>Title: @item.Title</p>
            <p>Description: @item.Description</p>
            <p>AudioUrl: @item.AudioUrl</p>
            <p>PostedDate: @item.PostedDate</p>
            <p>OwnerId: @item.OwnerId</p>
        </div>
        <hr />
    }
}


<SurveyPrompt Title="How is Blazor working for you?" />

