@page "/"

@using Models.Dto;
@using Echo_Net.Services;

@inject IAudioPostService _audioPostService
@inject IJSRuntime mJS

@implements IDisposable;

<PageTitle>Index</PageTitle>


<section>
    <audio controls src=@audioRecorderManager.audioBloblURL></audio>
    <hr />
    <button @onclick="RecordAudioStart_Click" class="btn btn-primary" 
        disabled=@audioRecorderManager.mDisableRecordAudioStart>
        Start Record
    </button>
    <button @onclick="RecordAudioPause_Click" class="btn btn-primary" 
        disabled=@audioRecorderManager.mDisableRecordAudioPause>
        Pause
    </button>
    <button @onclick="RecordAudioResume_Click" class="btn btn-primary" 
        disabled=@audioRecorderManager.mDisableRecordAudioResume>
        Resume
    </button>
    <button @onclick="RecordAudioStop_Click" class="btn btn-primary" 
        disabled=@audioRecorderManager.mDisableRecordAudioStop>
        Stop
    </button>
    <button @onclick="RecordAudioSave_Click" class="btn btn-primary" 
        disabled=@audioRecorderManager.mDisableRecordAudioSave>
        Post
    </button>
</section>

@if(audioRecorderManager.audioBloblURL is not null)
{
    <span>
        <p>
            @audioRecorderManager.audioBloblURL
        </p>
    </span>
}


@if(AudioPosts is null || AudioPosts.Count == 0 )
{
    <p>Loading...</p>
}
else
{
    foreach(var item in AudioPosts)
    {
        <div>
            <p>@item.AudioId</p>
            <p>@item.Title</p>
            <p>@item.Description</p>
            <p>@item.AudioUrl</p>
            <p>@item.PostedDate</p>
            <p>@item.OwnerId</p>
        </div>
    }
}


<SurveyPrompt Title="How is Blazor working for you?" />

